.hero-container {
    padding: 0rem 1rem;
    min-height: 100vh;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
}

.content {
    color: #fff;
    padding: 3rem 1rem;
}

.hi-text {
    color: rgb(105, 55, 255);
    font-weight: 600;
    font-size: 1.3rem;
    padding: 5px;
    margin-bottom: 1rem;
}

.hero-title {
    font-size: clamp(40px, 3vw, 80px);
    color: rgb(204, 214, 246);
    font-weight: bold;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 0.5rem;
}

.another-title {
    font-size: clamp(40px, 3vw, 80px);
    color: rgb(136, 146, 176);
    margin-bottom: 1rem;
}

.hero-title-text {
    overflow: hidden;
}

.hero-sub_title {
    font-style: italic;
    font-size: 1.8rem;
    padding: 0.5rem 0;
}

.letter {
    opacity: 0;
}

.hero-content-container {
    opacity: 0;
    padding: 5px;
    margin-top: 40px;
}

.hero-about-text {
    max-width: 40ch;
    padding: 1rem 0rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
    color: rgb(136, 146, 176);
}
