.logo {
  cursor: pointer;
  position: fixed;
  width: 150px;
  z-index: 2;
}

.logo_text {
  stroke-dashoffset: 0;
}

.logo_text {
  opacity: 1;
  stroke-width: 150px;
  stroke: #fff;
}

.logo_icon {
    display: none;
}


