.logo {
  cursor: pointer;
  position: fixed;
  width: 400px;
}

.logo_icon, .logo_text {
  stroke: #fff;
  stroke-width: 1px;
  stroke-dashoffset: 0;
}

.logo_text {
  fill: #000;
  opacity: 1;
  stroke-width: 0.5px;
}


